<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--扫描所有类接口-->
    <context:component-scan base-package="com.ysys520.mall"/>

    <!--配置jdbc引用文件的占位文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>


    <!--配置数据库连接池-->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
    <!--destroy-method="close">-->
    <!--<property name="driverClassName" value="${mysql.driver}"/>-->
    <!--<property name="url" value="${mysql.url}"/>-->
    <!--<property name="username" value="${mysql.username}"/>-->
    <!--<property name="password" value="${mysql.password}"/>-->
    <!--&lt;!&ndash; 初始化连接大小 &ndash;&gt;-->
    <!--<property name="initialSize" value="${initialSize}"></property>-->
    <!--&lt;!&ndash; 连接池最大数量 &ndash;&gt;-->
    <!--<property name="maxActive" value="${maxActive}"></property>-->
    <!--&lt;!&ndash; 连接池最大空闲 &ndash;&gt;-->
    <!--<property name="maxIdle" value="${maxIdle}"></property>-->
    <!--&lt;!&ndash; 连接池最小空闲 &ndash;&gt;-->
    <!--<property name="minIdle" value="${minIdle}"></property>-->
    <!--&lt;!&ndash; 获取连接最大等待时间 &ndash;&gt;-->
    <!--<property name="maxWait" value="${maxWait}"></property>-->
    <!--</bean>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${mysql.driver}"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>


    <!--Spring mvc 与Mybatis 组合-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>


    <!--配置Mybatis 扫描类  扫描dao层所有接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ysys520.mall.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>


    <!--配置数据源 事务管理类-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>